.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Adventure';
  color: #fff;
}

.title {
  font-size: 90px;
}

.hero-image {
  background-image: url(../assets/img/img1.png);
  height: 700px;
  background-position: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  padding-top: 4em;
  font-size: 3em;
  font-weight: bolder;
}